*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: white;
    height: 80px;
}
.scritta-logo{
    font-family: sans-serif;
    font-size: 40px;
    vertical-align: 23px;
    
    
}
.logo{
    
    margin: 10px;
}
.container{
    background-color: white;
    width: 800px;
    margin: auto;
    margin-top: 50px;
}
p{
    display: inline-block;
}
.add-button{
    line-height: 30px;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color:#47ADF1;
    font-size: 12px;
    color: white;
    
    margin-top: 16px;
    margin-left: 65px;
}
.add-button2{
    line-height: 30px;
    text-align: center;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color:#47ADF1;
    font-size: 12px;
    color: white;
    margin-left: 0px;
}
.spunte{
    border: 1px solid black;
    border-radius: 100%;
    color: black;
    
}
.test{
    
}




body,
hr{
    background-color:#F6F8F9 ;
}

