*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: white;
    height: 80px;
}
.scritta-logo{
    font-family: sans-serif;
    font-size: 40px;
    vertical-align: 23px;
    
    
}
.logo{
    
    margin: 10px;
}
.container{
    background-color: white;
    width: 800px;
    margin: auto;
    margin-top: 50px;
}
.container2{
    margin-left: 65px;
}
p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.add-button{
    line-height: 30px;
    text-align: center;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color:#47ADF1;
    font-size: 12px;
    color: white;
    
    margin-top: 16px;
    margin-left: 65px;
}
.add-button2{
    line-height: 30px;
    text-align: center;
    width: 76px;
    height: 30px;
    border-radius: 5px;
    background-color:#47ADF1;
    font-size: 12px;
    color: white;
    margin-left: 0px;
}
.spunte{
    border: 1px solid black;
    border-radius: 100%;
    color: black;
    font-size: 13px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px
}
.spunte-x{
    border: 1px solid black;
    border-radius: 100%;
    color: black;
    font-size: 13px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px



}
.testo{
    margin-left: 10px;
    margin-right: 10px;
}
.text-form{
    margin-top: 30px;
    margin-bottom: 10px;
}
body{
    background-color:#F6F8F9 ;
}
hr{
    margin-top: 10px;
    height: 20px;
    color: #F6F8F9 ;
    background-color: #F6F8F9 ;
}
.pulsanti{
    line-height: 30px;
    text-align: center;
    width: 60px;
    height: 30px;
    border-radius: 5px;
    background-color:#47ADF1;
    font-size: 12px;
    color: white;




}

