*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;
    font-weight: bold;
}
header{
    background-color: white;
    height: 80px;
}
.scritta-logo{
    font-family: sans-serif;
    font-size: 40px;
    vertical-align: 23px;
    
    
}
.logo{
    
    margin: 10px;
}
.container{
    background-color: white;
    width: 800px;
    margin: auto;
    margin-top: 50px;
    border-radius: 8px;
}
.container2{
    margin-left: 65px;
}
p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.add-button{
    line-height: 30px;
    text-align: center;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color:#47ADF1;
    font-size: 12px;
    color: white;
    
    margin-top: 16px;
    margin-left: 65px;
}
.add-button2{
    line-height: 30px;
    text-align: center;
    width: 85px;
    height: 30px;
    border: 1px solid;
    border-radius: 5px;
    border-color: #C8CED3;
    font-size: 12px;
    color: #C8CED3;
    background-color: rgb(255, 255, 255);
    margin-left: 0px;
}
.spunte{
    border: 1px solid rgb(0, 168, 31);
    border-radius: 100%;
    color: rgb(0, 168, 31);
    font-size: 13px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px
}
.spunte-x{
    border: 1px solid rgb(216, 0, 0);
    border-radius: 100%;
    color: rgb(216, 0, 0);
    font-size: 13px;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 20px



}
.testo{
    margin-left: 10px;
    margin-right: 10px;
}
.text-form{
    margin-top: 30px;
    margin-bottom: 10px;
}
body{
    background-color:#F6F8F9 ;
}
hr{
    margin-top: 10px;
    height: 5px;
    color: #F6F8F9 ;
    background-color: #F6F8F9 ;
}
.pulsanti{
    line-height: 30px;
    text-align: center;
    width: 80px;
    height: 30px;
    border-radius: 25px;
    font-size: 12px;
    color: white;
}
.violet{
    background-color: #9C72E4;
}
.green{
    background-color: #64C0A9;
}
.orange{
    background-color: #F29E33 ;

}
.pink{
    background-color: #D863A1;

}
.blue{
    background-color: #47ADF1;
}
